/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
    --global-bg-color: #{$white-color};
    --global-text-color: #{$grey-color-dark};
    --global-theme-color: #{$orange-color};
    --global-hover-color: #fed8b1; // Light orange colour
    --global-footer-bg-color: #{$grey-color-dark};
    --global-footer-text-color: #{$grey-color-light};
    --global-footer-link-color: #{$white-color};
    --global-icon-color: #cc7000; //Dark Orange colour
    .fa-sun {
        display: none;
    }

    .fa-moon {
        padding-left: 10px;
        padding-top: 12px;
        display: block;
    }
}

html[data-theme='dark'] {
    --global-bg-color: #{$grey-color-dark};
    --global-text-color: #{$grey-color-light};
    --global-theme-color: #{$cyan-color};
    --global-hover-color: #{$light-cyan-color};
    --global-footer-bg-color: #{$grey-color-light};
    --global-footer-text-color: #{$grey-color-dark};
    --global-footer-link-color: #{$black-color};
    --global-icon-color: #{$light-cyan-color};

    .fa-sun {
        padding-left: 10px;
        padding-top: 12px;
        display: block;
    }

    .fa-moon {
        display: none;
    }
}
